@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400|Montserrat:300,400,700);


$blue: rgb(55, 70, 103);
$bgcolor: #EFEFEF;
$FSBlue: #0D7FA6;
$FSRed: #C44C60;
$FSYellow: #FFFF00;
$sitefont: 'Open Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;
$smallPhone: "only screen and (max-width: 320px)";
$phone: "only screen and (min-width: 321px) and (max-width : 450px)";
$allPhones: "only screen and (max-width: 550px)";
$iPadAndSmaller: "only screen and (max-width: 768px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1025px)";
$mobile: "only screen and (max-width: 1025px)";
$desktop: "only screen and (min-width: 1026px)";

@import 'reset';
@import 'mixins';

*, html, body {
  box-sizing: border-box;
}

#app {
  // overflow-x: hidden;
}

body {
  background: $bgcolor;
  font-family: $sitefont;
}

div.container {
  max-width: 75em;
  margin: 0 auto;
}

ul.inline {
  list-style-type: none;
  display: inline-block;

  li {
    display: inline-block;
    a {
      text-decoration: none;
      display: inline-block;
      color: white;
    }  
  }
}

div.header-title {
  font-family: $header-font;
  color: $blue;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  height:40px;
  transform: translateY(-20px);
  text-transform: uppercase;
  letter-spacing: 4px;
}

div.section {
  padding: 80px 0;

  @media #{$iPadAndSmaller} {
    padding: 40px 0;
  }
}

#tba {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  font-size: 40px;
  color: #787878;
  font-family: $header-font;
}
