@import "common";

.about-wrapper {
  height: 40vh;
  div.about-container {
    display: flex;
    div.left {

    }
    div.right {
      width: 40%;
      margin-left: auto;

      h2 {
        font-size: 1.9em;
        color: $blue;
        margin-bottom: 20px;
      }

      p {
        line-height: 20px;
      }
    }
  }
}
