@import "common";

.come-in {
  transform: translateX(50px);
  animation: come-in 1.5s ease-in-out forwards;
}
@keyframes come-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.appear {
  animation: appear 1.5s ease-in-out forwards;
}
@keyframes appear {
  to {
    opacity: 1;
  }
}

.about-wrapper {
  // height: 40vh;
  // padding-bottom: 120px;
  margin-bottom: 42px;

  p, h1, h2 {
    font-family: 'Open Sans', sans-serif;
  }

  div.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;

    div.left {
      opacity: 0;
      padding: 8px;
      margin-top: 3vh;
      margin-left: auto;
      color: white;

      .explore-background {
        width: 250px;
        height: 250px;
        position: absolute;
        margin-left: -5px;
        box-shadow: 1px 1px 15px #ABAABA;

        @media #{$mobile} {
          width: 200px;
          height: 200px;
        }

        @media #{$allPhones} {
          width: 70%;
          height: 230px;
          margin-left: 15%;
          margin-right: 15%;
        }
      }

      .explore-image {
        height: 100%;
        width: 100%;
        opacity: .10;

        @media #{$allPhones} {

        }
      }

      .explore-gradient {
        height: 100%;
        width: 100%;
        position: absolute;
        // opacity: .86;
        background: linear-gradient(to bottom right,#24648a,#152641);
      }

      div.compass {
        width: 100px;
        height: 100px;
        display: block;
        text-align: center;

        i {
          font-size: 4em;
        }
      }

      #where {
        margin-top: 20px;
        width: 100%;
        padding: 8px;
        position: relative;
        z-index: 10;

        @media #{$allPhones} {
          text-align: center;
        }
      }

      #when {
        width: 100%;
        padding: 8px;
        position: relative;
        z-index: 10;

        @media #{$allPhones} {
          text-align: center;
        }
      }

      @media #{$allPhones} {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    div.right {
      opacity: 0;
      margin-top: 5vh;
      width: 60%;
      margin-left: auto;
      margin-right: auto;

      h2 {
        font-size: 1.9em;
        color: $blue;
        margin-bottom: 20px;
      }

      p {
        line-height: 20px;
      }

      blockquote {
        padding-left: 30px;
        padding-right: 30px;
      }

      #michaelcollins {
        width: 100%;
        padding-right: 70px;
        text-align: right;
      }
    }
  }
}
