$blue: rgb(55, 70, 103);

.about-wrapper {
  margin: 0 auto;
  width: 40%;
  height: 50vh;
  h2 {
    font-size: 1.9em;
    color: $blue;
    margin-bottom: 20px;
  }

  p {
    line-height: 20px;
  }
}
