.carousel-wrapper {
  width: 100%;
  position: relative;
  height: 450px;
  overflow: hidden;
  display: block;

  div {

    position: absolute;
    // top: 0;
    width: 1400px;
    display: inline-block;
    // overflow: visible;
    background-position: center;
    background-size: 1400px 450px;
    height: 450px;

    &.one {
      background-image: url('/app/assets/carousel-1.png');
    }

    &.two {
      background-image: url('/app/assets/carousel-2.png');
    }

    // img {
    //   display: inline-block;
    // }

    &:nth-child(2) {
      left: 1400px;
    }
  }
}
