@import "common";

.carousel-wrapper {
  width: 100%;
  position: relative;
  height: 450px;
  overflow: hidden;
  display: block;

  @media #{$iPadAndSmaller} {
    height: 225px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#24648a,#152641);
    opacity: .35;
    z-index: 10;
  }

  div {

    position: absolute;
    // top: 0;
    width: 1400px;
    display: inline-block;
    // overflow: visible;
    background-position: center;
    background-size: 1400px 450px;
    height: 450px;

    &:nth-child(2) {
      left: 1400px;
    }
  }
}
