@import "common";

$text: #efefef;
$accent: #002c4e;

footer.footer {
  background: $accent;

  div.container {
    display: flex;
    flex-flow: row wrap;
    padding: 1.25em 1em;
    color: $text;
    line-height: 22px;
    

    // @media #{$iPadAndSmaller} {
    //   padding: 1.25em 1em;
    // }

    .left {
      @media #{$iPadAndSmaller} {
        width: 265px;
        margin: 0 auto;
        flex: none;
      }
      padding: 1em 0;
      flex: 1;
      height: 80px;
      justify-content: flex-start;
      display: flex;
      align-items: center;

      .logo {
        height: 100%;
        // flex: 1;

        img {
          height: 100%;

        }
      }

      .hosts {
        padding: 0 1.25em;
        font-family: 'Montserrat', sans-serif;

        @media #{$iPadAndSmaller} {
          padding: 0 0.5em;
          font-size: 0.8em;
          line-height: 17px;
        }
        // flex: 1;
        a {
          text-decoration: none;
          color: $accent;
          background: yellow;
          padding: 0 3px;
        }
      }
      .social {
        padding: 0 2em;
        
        span.connect {
          font-family: 'Montserrat', sans-serif;
          font-size: 0.8em;
          display: block;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        i {
          margin-right: 0.5em;
        }
      }
    }

    .right {
      @media #{$iPadAndSmaller} {
        width: 100%;
        flex: none;
      }
      flex: 1;
      height: 80px;
      padding: 1em 0;
      display: flex;
      align-items: center;

      ul {
        margin-left: auto;
        @media #{$iPadAndSmaller} {
          margin: 0 auto;
        }

        li {
          color: $text;
          margin-left: 1em;

          @media #{$mobile} {
            margin-left: .7em;
          }
          @media #{$tablet} {
            font-size: 13px;
          }
          @media #{$phone} {
            font-size: 11px;
          }
          @media #{$smallPhone} {
            height: 50px;
            font-size: 9px;
          }

          a {
            font-family: 'Montserrat', sans-serif;

            @media #{$iPadAndSmaller} {
              font-size: 0.8em;
            }
          }

          span.apply {
            background: yellow;
            padding: 2px 4px;

            a {
              color: $blue;
            }
          }
        }
      }
    }

    .copyright {
      flex: 1 100%;
      height: 40px;
      border-top: 2px solid white;
      padding: 0.5em 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 0.8em;

      @media #{$phone} {
        text-align: center;
        font-size: 13px;
      }
      @media #{$smallPhone} {
        font-size: 11px;
      }

      .heart {
        color: #FC5050;
      }
    }
  }
}
