@import "common";

$text: #efefef;
$accent: #002c4e;

footer.footer {
  background: $accent;

  div.container {
    display: flex;
    flex-flow: row wrap;
    padding: 1.25em 0;
    color: $text;
    line-height: 22px;

    @media #{$mobile} {
      max-width: 50em;
    }
    @media #{$tablet} {
      max-width: 42em;
    }
    @media #{$phone} {
      max-width: 18em;
    }
    @media #{$smallPhone} {
      max-width: 15em;
    }

    .left {
      padding: 1em 0;
      flex: 1;
      height: 80px;
      justify-content: flex-start;
      display: flex;
      align-items: center;

      .logo {
        height: 100%;
        // flex: 1;

        img {
          height: 100%;

        }
      }

      .hosts {
        padding: 0 1.25em;
        // flex: 1;
        a {
          text-decoration: none;
          color: $accent;
          background: yellow;
          padding: 0 3px;
        }
      }
      .social {
        padding: 0 2em;

        @media #{$mobile} {
          padding: 0 1em;
        }
        @media #{$tablet} {
          width: 201px;
        }
        @media #{$smallPhone} {
          padding: 0;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        i {
          margin-right: 0.5em;
        }
      }
    }

    .right {
      flex: 1;
      height: 80px;
      padding: 1em 0;
      display: flex;
      align-items: center;

      ul {
        margin-left: auto;

        @media #{$phone} {
          width: 300px;
        }

        li {
          color: $text;
          margin-left: 1em;

          @media #{$mobile} {
            margin-left: .7em;
          }
          @media #{$tablet} {
            font-size: 13px;
          }
          @media #{$phone} {
            font-size: 11px;
          }
          @media #{$smallPhone} {
            height: 50px;
            font-size: 9px;
          }

          span.apply {
            font-weight: 500;
            background: yellow;
            color: $blue;
            padding: 2px 4px;
          }
        }
      }
    }

    .copyright {
      flex: 1 100%;
      height: 40px;
      border-top: 2px solid white;
      padding: 0.5em 0;

      @media #{$phone} {
        text-align: center;
        font-size: 13px;
      }
      @media #{$smallPhone} {
        font-size: 11px;
      }

      .heart {
        color: #FC5050;
      }
    }
  }
}
