@import "common";

#app {
  width: 100%;
  height: 100%;

  .header-wrapper {
    opacity: 0;
    background: red;
    width: 100vw;
    height: 100vh;
    // background: url('/assets/vladspeaking.jpg');
    background-size: cover;
    background-attachment: fixed;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 97%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 97%);

    &:before {
      content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to bottom right,#24648a,#152641);
    	opacity: .65;
    }

    .title-wrapper {
      width: 50%;
      height: 100%;
      margin: 0 auto;

      display: flex;
      justify-content: space-around;
      .logo {
        z-index: 10;
        height: 100%;
        width: 261px;

        svg {
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          g#logo > g {
            opacity: 0;

          }
        }

      }

      .description-wrapper {
        width: 100%;

        .description {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          padding-left: 60px;
          color: white;

          .anime-group {
            opacity: 0;
          }

          h1 {
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 10px;
            line-height: 40px;

            span {
              background: yellow;
              padding: 0 4px;
              color: $blue;
            }
          }

          p {
            font-size: 1.4em;
            margin-bottom: 40px;
          }

          h3 {
            color: yellow;
            opacity: 0.8;
            font-size: 1.8em;
            margin-bottom: 15px;
          }

          button {
            border: none;
            background: white;
            width: 125px;
            height: 40px;
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 500;
            color: $blue;
            padding: 7px 15px;

            margin-right: 10px;

          }
        }

      }
    }

    .nav {
      opacity: 0;
      width: 100%;
      height: 75px;
      display: block;
      position: absolute;
      top: 0;
      z-index: 11;

      .nav-inner {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        padding: 14px 0;
        display: flex;
        justify-content: space-around;

        ul.nav-links {
          height: 50px;
          line-height: 50px;
          // text-transform: uppercase;
          a {
            color: white;
            display: inline-block;
            margin: 0 10px;
            font-size: 1.1em;
          }
        }
      }
    }
  }
}
