@import './_common.scss';
@import './Main.scss';

.schedule-container {
  position: relative;
  width: 100%;
  background-color: $bgcolor;
  padding: 0 40px 50px 40px;
  // margin-bottom: 25%;
}

.schedule-title {
  letter-spacing: 4px;
  height: 40px;
  text-align: center;
  padding-bottom: 25px;
  font-size: 35px;
  color: $blue;
  transform: translateY(-20px);

  @media #{$iPadAndSmaller} {
    padding-bottom: none;
  }
}

.schedule-title-description {
  text-align: center;
  padding-bottom: 60px;
  font-size: 25px;
  color: $FSBlue;

  @media #{$iPadAndSmaller} {
    text-align: left;
    font-size: 20px;
  }
}

.schedule-timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 230px;
  max-width: 72.5em;
  font-size: 15px;
  color: $FSYellow;
  display: block;
  overflow: visible;

  @media #{$iPadAndSmaller} {
    height: 350px;
    font-size: 10px;
    margin-bottom: 50px;
  }
}

.schedule-day {
  height: 80px;
  width: auto;
}

.timeline-table {
  @media #{$iPadAndSmaller} {
    margin-left: 25%;
    height: 375px;
  }
}

.timeline-row {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  margin-bottom: 7px;

  @media #{$iPadAndSmaller} {
    float: left;
    width: 31.5%;
    height: 100%;
    margin-right: 1px;
  }
}

.timeline-block {
  position: relative;
  width: 9.916%;
  height: 100%;
  float: left;
  margin-right: 1px;
  padding: 5px;
  color: white;
  background-color: $FSYellow;
  z-index: 10;

  &.talk {
    background-color: $FSBlue;
  }

  &.food {
    background-color: $FSRed;
  }

  &.breakout {
    background-color: $blue;
  }

  &p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  @media #{$iPadAndSmaller} {
    width: 100% !important;
    height: 10%;
 }
}

.timeline-markers {
  color: $FSBlue;
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.hour-marker {
  position: relative;
  float: left;
  height: 100%;
  width: 12.5%;
  display: inline-block;
  box-sizing: border-box;
  padding: 11px;
  border-left: 1px solid black;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;

  @media #{$iPadAndSmaller} {
    width: 100%;
    height: 15%;
    border-left: none;
    border-top: 1px solid black;
  }

  span {
    position: absolute;
    left: 5px;
    bottom: 0;

    @media #{$iPadAndSmaller} {
      top: 2px;
    }
  }
}
