@import './_common.scss';
@import './Main.scss';

.speaker-grid-title {
  color: $blue;
  font-size: 35px;
  font-family: $sitefont;
  font-weight: 400;
  text-align: right;
  margin: 25px 15% 25px 25px;
}

.speaker-grid {
  @include horizCenter;
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
 }
}
