@import './Main.scss';

.speaker-grid-title {
  color: $FSBlue;
  font-size: 35px;
  font-family: $sitefont;
  font-weight: 400;
  text-align: right;
  margin: 25px 15% 25px 25px;
}

.speaker-grid {
  @include horizCenter;
  width: 90%;
  height: auto;
 
  &::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
 }
}
