@import './_common.scss';
@import './Main.scss';

.speakers {
  background: white;

  .speaker-grid {
    @include horizCenter;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media #{$mobile} {
      width: 80%;
    }

    &::after {
     content: " ";
     display: block;
     height: 0;
     clear: both;
    }
  }
  padding-bottom: 60px;
}
